html{
    background-color: black;
}
a{
    position: absolute;
    left: 5%;
    color: white;
    border: 1px white;

}
.btn1{
    border: 1px solid white;
    padding: 5px 25px;
    color: rgb(253, 253, 253);
    text-decoration: none;
    transition: 0,6s ease;
    border: radius 5px;
    margin: 10px;
}
.btn1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h1{
    position: absolute;
    color: white;
    left: 7%;
    font-size: 50px;
    top: 5%;
}
p.bagian_1{
    position: absolute;
    left: 5%;
    top: 25%;
    color: white;
    font-size: 23px;
    font-family: sans-serif;
    
}
